<div class="center jumbotron">
<h1>Pluto Home Page</h1>
<h2>
    This is the Pluto sample App for our Pluto Feedback App. <a href= "#">Ask Daniel Aye questions</b> 
</h2>
<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

